/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 4, 2015, 5:36:41 PM
    Author     : clicklabs
*/
body{
    background-image: url('../images/download.jpeg');
}
#heading{
    padding: 20px;
}
#table_style{
    width: 1000px;
    }
