<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>angular_admin_panel</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text" rel="stylesheet" href='css/bootstrap.css'/>
        <link type="text" rel="stylesheet" href='css/angular_admin_panel.css'/>
    </head>
    <body>
        <div ng-app="" ng-init=" interns=[
                {Id:'01', name:'Gagan', college:'CCET', department:'Front-end', joining_date:'01/01/2015', cgpa:'7.5' },
                {Id:'02', name:'Navit', college:'CCET', department:'Front-end', joining_date:'01/02/2015', cgpa:'8.5' },
                {Id:'03', name:'Prabhdeep',college:'CCET',department:'IOS', joining_date:'01/01/2015', cgpa:'7.5' },
                {Id:'04', name:'Ramita', college:'UIET', department:'Back-end', joining_date:'01/03/2015', cgpa:'6.8' },
                {Id:'05', name:'Renuka', college:'CCET', department:'Front-end', joining_date:'01/01/2015', cgpa:'7.2' },
                {Id:'06', name:'Shubam', college:'CCET', department:'Front-end', joining_date:'01/05/2015', cgpa:'7.5' },
                {Id:'07', name:'Jaskirat',college:'CCET',department:'IOS', joining_date:'01/02/2015', cgpa:'8.4' },
                {Id:'08', name:'laxmi', college:'CCET', department:'Android', joining_date:'01/01/2015', cgpa:'9.0' },
                {Id:'09', name:'Vikas', college:'UIET', department:'Front-end', joining_date:'01/02/2015', cgpa:'6.5' },
                {Id:'10', name:'Mehak', college:'UIET', department:'Front-end', joining_date:'01/03/2015', cgpa:'7.1' }
                ]" >
            <h1 class="text-center text-info" id="heading">INTERNS</h1>
            <table class="table table-bordered table-hover container" id='table_style'>
                <thead>
                <th>
                    <h4 class="text-center">ID</h4>
                        <input class="col-xs-8" type="text" placeholder="Search ID" ng-model="search.Id" >
                        <button class="button btn-xs btn-success" ng-click="orderByField='Id';reverse=!reverse ">
                            <span class="glyphicon glyphicon-sort-by-order"></span>
                        </button>
                </th>
                <th>
                    <h4 class="text-center">NAME</h4>
                        <input class="col-xs-8" type="text" placeholder="Search Name" ng-model="search.name">
                        <button class="button btn-xs btn-success" ng-click="orderByField='name';reverse=!reverse">
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        </button>
                </th>
                <th>
                    <h4 class="text-center">COLLEGE</h4>
                        <input class="col-xs-8" type="text" placeholder="Search College" ng-model="search.college">
                        <button class="button btn-xs btn-success" ng-click="orderByField='college';reverse=!reverse">
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        </button>
                </th>
                <th>
                    <h4 class="text-center">DEPARTMENT</h4>
                        <input class="col-xs-8" type="text" placeholder="Search Department" ng-model="search.department">
                        <button class="button btn-xs btn-success" ng-click="orderByField='department';reverse=!reverse">
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        </button>
                </th>
                <th>
                    <h4 class="text-center">JOINING DATE</h4>
                        <input class="col-xs-8" type="text" placeholder="Search Joining-date" ng-model="search.joining_date">
                        <button class="button btn-xs btn-success" ng-click="orderByField='joining_date';reverse=!reverse">
                            <span class="glyphicon glyphicon-sort-by-order"></span>
                        </button>
                </th>
                <th>
                    <h4 class="text-center">CGPA</h4>
                        <input class="col-xs-8" placeholder="Search cgpa" ng-model="search.cgpa">
                        <button class="button btn-xs btn-success" ng-click="orderByField='cgpa';reverse=!reverse">
                            <span class="glyphicon glyphicon-sort-by-order"></span>
                        </button>
                </th>
                </thead>
                <tbody>
                    <tr ng-repeat="intern in interns | filter:search| orderBy:orderByField:reverse">
                        <td><span ng-bind="intern.Id"></span></td>
                        <td><span ng-bind="intern.name"></span></td>
                        <td><span ng-bind="intern.college"></span></td>
                        <td><span ng-bind="intern.department"></span></td>
                        <td><span ng-bind="intern.joining_date"></span></td>
                        <td><span ng-bind="intern.cgpa"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="js/angular.min.js"></script>
        </body>
</html>
